!!!
%html{lang: 'en'}
  %head
    %title Nest Plant Tracker
    %link{rel: :stylesheet, href: "/assets/css/bootstrap.min.css", crossorigin: "anonymous"}
    %script{src: "/assets/js/jquery-3.6.3.min.js"}
    %script{src: "/assets/js/jquery.sortable.min.js"}
    %script{src: "/assets/js/bootstrap.bundle.min.js"}
    %script{src: "/assets/js/nest_plant_tracker.js"}
  %body
    %nav.navbar.navbar-expand-sm.bg-body-secondary
      .container-fluid
        %a.navbar-brand{href: '#'} Nest Plant Tracker
        %button.navbar-toggler{type: :button, 'data-bs-toggle': :collapse, 'data-bs-target': '#navbarSupportedContent', 'aria-controls': 'navbarSupportedContent', 'aria-expanded': false, 'aria-label': 'Toggle navigation'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              - if request.path_info == '/' || request.path_info == '/plants'
                %a.nav-link.active{href: '/', 'aria-current': :page} Plants
              - else
                %a.nav-link{href: '/'} Plants
            - if is_logged_in?
              %li.nav-item
                - if request.path_info == '/bulk-watering'
                  %a.nav-link.active{href: '/bulk-watering', 'aria-current': :page} Bulk Watering
                - else
                  %a.nav-link{href: '/bulk-watering'} Bulk Watering
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{href: '#', role: :button, 'aria-expanded': false, 'data-bs-toggle': :dropdown } Maintenance
                %ul.dropdown-menu
                  %li
                    %a.dropdown-item{href: '/plants/new'} Add New Plant
                    %a.dropdown-item{href: '/locations'} Edit Locations
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{href: '#', role: :button, 'aria-expanded': false, 'data-bs-toggle': :dropdown } Reports
                %ul.dropdown-menu
                  %li
                    %a.dropdown-item{href: '/reports/water_freq'} Watering Frequency Adjustment Report
              %li.nav-item
                %a.nav-link{href: '/logout'} Logout
            - else
              %li.nav-item
                %a.nav-link{href: '/login'} Login

    .container-fluid
      = yield
